@model FloridaUCTF.Models.Offender

@{
	ViewBag.Title = "AllOffenderDetail";
}

<h2>AllOffenderDetail</h2>

<div class="row">
	<div class="col-md-10">
		@Html.Partial("_OffenderSummary")
	</div>
	<div class="col-md-2">
		@Html.ActionLink("Edit Offender", "Edit", new { id = Model.Id }) |
		@Html.ActionLink("Back to Search", "Index")
		<hr />
	</div>
</div>
<div class="row">
	@Html.ActionLink("Add a Case", "AddCase", new { offenderId = Model.Id }, new { @class = "btn btn-info" }) |
</div>
@for (var c = 0; c < Model.Cases.Count; c++)
{
	<div class="row">
		<hr />
		<div class="col-md-3">
			<div class="panel group-heading"> Case Information </div>

			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => Model.Cases[c].CaseNumber)
				</dt>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].CaseNumber)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => Model.Cases[c].CaseDate)
				</dt>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].CaseDate)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => Model.Cases[c].CaseCity)
				</dt>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].CaseCity)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => Model.Cases[c].CaseCounty)
				</dt>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].CaseCounty)
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<div class="panel group-heading"> OFFENDER INFORMATION - WHEN CITED </div>
			<dl class="dl-horizontal">
				<dt>
					@Html.DisplayNameFor(model => Model.Cases[c].BusinessName)
				</dt>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].BusinessName)
				</dd>
				<dt>
					@Html.DisplayNameFor(model => Model.Cases[c].OffenderAddress.Address)
				</dt>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].OffenderAddress.Address)

				</dd>
				<dt>

				</dt>

				<dd>
					@Model.Cases[c].OffenderAddress.CityStateZip
				</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<div class="panel group-heading"> OFFICIAL CONTACT </div>
			<dl class="dl-horizontal">
				<dd>
					@Html.DisplayFor(model => Model.Cases[c].OfficialContact.FirstName) @Html.DisplayFor(model => Model.Cases[c].OfficialContact.LastName)
				</dd>

				<dd>
					@Html.DisplayFor(model => Model.Cases[c].OfficialContact.Title)

				</dd>

				<dd>
					@Model.Cases[c].OfficialContact.Email
				</dd>
				<dd>
					@Model.Cases[c].OfficialContact.PhoneNumber
				</dd>
			</dl>
		</div>
		<div class="col-md-1 center-block">
			<p>
				<div class="row">
					<div class="col-md-2">
						@Html.ActionLink("Edit", "CaseCitationDetail", new { caseId = Model.Id }, new { @class = "btn-sm btn-info" })
					</div>
					<div class="col-md-offset-5 col-md-5">
						<button class="btn btn-success" onclick="SaveVerdictChgs(@Model)">Save All Verdict Changes</button>
					</div>
				</div>
			</p>
		</div>
	</div>

	<div>

		@for (var i = 0; i < Model.Cases[c].Citations.Count; i++)
		{

			<div class="citation-box">
				<div class="well">
					<div class="row">
						<div class="col-md-1 case_cit_block">
							<b>@Html.DisplayNameFor(model => Model.Cases[c].Citations[i].CitationNumber) </b>
							@Html.DisplayFor(model => Model.Cases[c].Citations[i].CitationNumber)
						</div>
						<div class="col-md-6">
							<div class="row">
								<b>@Html.DisplayNameFor(model => Model.Cases[c].Citations[i].StatuteOrdinance) &nbsp;</b>
								@Model.Cases[c].Citations[i].StatuteOrdinance
							</div>
							<div class="row">
								<b>@Html.DisplayNameFor(model => Model.Cases[c].Citations[i].Description)</b>
							</div>
							<div class="row long-text">
								@Model.Cases[c].Citations[i].Description
							</div>
						</div>

						<div class="col-md-5">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].ActionId, "ActionId", htmlAttributes: new { @class = "control-label col-md-2" })
										<br />
										<div class="col-md-10">
											@Html.DropDownListFor(m => Model.Cases[c].Citations[i].ActionId, new SelectList(ViewBag.ActionsList, "Id", "Description"))
											@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].ActionId, "", new { @class = "text-danger" })
										</div>
									</div>
								</div>
								<div class="col-md-offset-2  col-md-4">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].RulingId, "RulingId", htmlAttributes: new { @class = "control-label col-md-2" })
										<div class="col-md-10">
											@Html.DropDownListFor(m => Model.Cases[c].Citations[i].RulingId, new SelectList(ViewBag.RulingsList, "Id", "Description"))
											@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].RulingId, "", new { @class = "text-danger" })
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 checkbox-col">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].Withheld, htmlAttributes: new { @class = "control-label col-md-9 checkbox-label" })
										<div class="col-md-3">
											<div class="checkbox">
												@Html.CheckBoxFor(model => Model.Cases[c].Citations[i].Withheld)
												@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].Withheld, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 checkbox-col">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].Probation, htmlAttributes: new { @class = "control-label col-md-9 checkbox-label" })
										<div class="col-md-3">
											<div class="checkbox">
												@Html.CheckBoxFor(model => Model.Cases[c].Citations[i].Probation)
												@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].Probation, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 checkbox-col">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].PrivilegeRevoked, htmlAttributes: new { @class = "control-label col-md-9 checkbox-label" })
										<div class="col-md-3">
											<div class="checkbox">
												@Html.CheckBoxFor(model => Model.Cases[c].Citations[i].PrivilegeRevoked)
												@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].PrivilegeRevoked, "", new { @class = "text-danger" })
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].FineAmount, htmlAttributes: new { @class = "control-label col-md-5" })
										<div class="col-md-7">
											@Html.EditorFor(model => Model.Cases[c].Citations[i].FineAmount, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].FineAmount, "", new { @class = "text-danger" })
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										@Html.LabelFor(model => Model.Cases[c].Citations[i].RestitutionAmount, htmlAttributes: new { @class = "control-label col-md-5" })
										<div class="col-md-7">
											@Html.EditorFor(model => Model.Cases[c].Citations[i].RestitutionAmount, new { htmlAttributes = new { @class = "form-control" } })
											@Html.ValidationMessageFor(model => Model.Cases[c].Citations[i].RestitutionAmount, "", new { @class = "text-danger" })
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
				}
	</div>
}
<script>
	var SaveVerdictChanges = function (currOffender) {
		$.ajax({
			url: "/home/SaveVerdictChngs/?offenderId=" + offenderId,
			method: "POST",
			data: ,
			//success: function (partial) {
			//	$("#ManageCitationForm").html(partial);
			//}
		})
	}

</script>
