@model FloridaUCTF.Models.Case

@{
	ViewBag.Title = "CaseCitationDetail";
}

<div class="row">
	<div class="col-md-12">
		<h2>Case Details for -  @Model.Offender.FirstName  @Model.Offender.LastName  </h2>
	</div>
	</div>
<div class=" = "row">
	<div class="col-md-12 text-center">
		@Html.ActionLink("Finished", "AllCaseDetail", "Home",new { }, new { @class = "btn btn-success" })
	</div>
</div>

<div class="row">
	<hr />
	<div class="col-md-4">
		<div class="panel group-heading"> Case Information </div>

		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.CaseNumber)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.CaseNumber)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.CaseDate)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.CaseDate)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.CaseCity)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.CaseCity)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.CaseCounty)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.CaseCounty)
			</dd>
		</dl>
	</div>
	<div class="col-md-5">
		<div class="panel group-heading"> OFFENDER INFORMATION - WHEN CITED </div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.BusinessName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BusinessName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.OffenderAddress.Address)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.OffenderAddress.Address)

			</dd>
			<dt>

			</dt>

			<dd>
				@Model.OffenderAddress.CityStateZip
			</dd>
		</dl>
	</div>
	<div class="col-md-3 center-block">
		<p>
			@Html.ActionLink("Edit", "EditCase", new { caseId = Model.Id }, new { @class = "btn-sm btn-info" }) |
			@Html.ActionLink("Delete", "DeleteCase", new { caseId = Model.Id }, new { @class= "bnt-link btn-warning" })
		</p>
	</div>
</div>
<div>

<div class="row">
	<button class="btn-sm btn-primary" onclick="ShowAddCitationForm(@Model.Id)">Add a Citation</button>
</div>

	<div id="ManageCitationForm"></div>

</div>
@if (Model.Citations.Count == 0 ||  Model.Citations == null)
{
	<script type='text/javascript'>ShowAddCitationForm(@Model.Id);</script>
}
else
{
	foreach (var citation in Model.Citations)
	{
		<div class="row">
			<div class="col-md-2">
				@Html.DisplayNameFor(model => citation.CitationNumber)
				@citation.CitationNumber
			</div>
			<div class="col-md-8">
				<div class="row">
					@Html.DisplayNameFor(model => citation.StatuteOrdinance)
					@citation.StatuteOrdinance
				</div>
				<div class="row">
					@Html.DisplayNameFor(model => citation.Description)
				</div>
				<div class="row long-text">
					@citation.Description
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-info" onclick="ShowEditCitationForm(@citation.Id)">Edit</button>
				<button class="btn btn-link btn-warning" onclick="ShowDeleteCitationForm(@citation.Id)">Delete</button>
			</div>
		</div>
	}
}
	<script>
		var ShowAddCitationForm = function (caseId) {
			$.ajax({
				url: "/home/_AddCitation/?caseId=" + caseId,
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#ManageCitationForm").html(partial);
				}
			})
		}
		var ShowEditCitationForm = function (citationId) {
			$.ajax({
				url: "/home/_EditCitation/?citationId=" + citationId,
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#ManageCitationForm").html(partial);
				}
			})
		}
		var ShowDeleteCitationForm = function (citationId) {
			$.ajax({
				url: "/home/_DeleteCitation/?citationId=" + citationId,
				method: "GET",
				dataType: "html",
				success: function (partial) {
					$("#ManageCitationForm").html(partial);
				}
			})
		}
	</script>
