@model IEnumerable<FloridaUCTF.Models.SearchResultsViewModel>

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            AKA: @Html.DisplayNameFor(model => model.LastAKA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstAKA)
        </th>
        <th>
            AKA: @Html.DisplayNameFor(model => model.DriveLicense)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.LastName)*@
			<a href="@Url.Action("AllOffenderDetail", "Home", new { offenderId=item.Id})">@Html.DisplayFor(modelItem => item.LastName)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.LastAKA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstAKA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriveLicense)
        </td>

     </tr>
}

</table>
